<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="./css/style.css" />
    </head>
    <body>
        {{>header}}
        
        <p>This is {{author}}</p>
       <img src="image/html.png">
       {{>footer}}
    </body>
</html>